name: Deply xdial-dev

on:
  push:
    branches: [ master]
  workflow_dispatch:


jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:  
      - name: Deploy to Servers
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.HOST }}
          username: root
          key: ${{ secrets.DEPLOYMENT_KEY }}
          port: 22
          timeout: 30s
          command_timeout: 10m
          script: | 
            cd /root/xdial-dev
            GIT_SSH_COMMAND="ssh -i /root/.ssh/remoterepo -o StrictHostKeyChecking=no" git pull origin master
            npm install
            npm run build
            sudo rm -rf /var/www/xdial-dashboard/*
            sudo mv build/* /var/www/xdial-dashboard/
            sudo chown -R www-data:www-data /var/www/xdial-dashboard
            sudo chmod -R  755 /var/www/xdial-dashboard
            sudo nginx -t
            sudo systemctl reload nginx